@import 'grid';
@import 'fonts';
@import 'normalize.css';

@mixin flex-box() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin inline-flex() {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

@mixin math($base-size) {
  .math {
    font-size: $base-size;

    .times-sign {
      font-size: (2 * $base-size / 3);
      padding: 0 ($base-size / 2) 0 ($base-size / 2 + 2px);
      position: relative;
      top: 2px;
    }
    
    .minus-sign {
      margin: 10px;
    }

    .equals {
      margin: 10px;
    }

    .big-paren {
      font-size: ($base-size * 4);
      font-weight: 100;
      position: relative;
      bottom: ($base-size / 3);
      padding: 5px;
    }

    .fraction {
      $money-input-size: ($base-size / 2);

      display: inline-block;
      margin-left: 8px;
      padding-top: 3px;
      margin-right: 10px;

      .money-input {
        font-size: $money-input-size;

        input {
          font-size: $money-input-size;
        }
      }
      
      .fraction-top {
        border-bottom: 2px solid black;
        padding-bottom: 5px;
      }
    }

    .fraction-top, .fraction-bottom {
      display: block !important;
    }

    $money-input-size: (2 * $base-size / 3);
    .money-input {
      font-size: $money-input-size;

      input {
        font-size: $money-input-size;
      }
    }

    .input-postfix-block {
      font-size: $money-input-size;

      input {
        font-size: $money-input-size;
      }
    }
    
    .info-text {
      font-size: ($base-size / 2);
    }

    * {
      vertical-align: middle;
    }
  }
}

@mixin serif() {
  font-family: "Georgia Pro", serif;
}

.input-postfix-block {
  @include inline-flex();
  margin: 5px;

  .input-postfix-field {
    flex: 1;
    border-radius: 2px 0 0 2px;
    margin: 0px;
    border-right: 0;
    display: inline-block;
  }

  .input-postfix-suffix {
    border-radius: 0 2px 2px 0;
    background-color: rgba(147, 128, 108, .1);
  }

  * {
    border: 1px solid rgba(147, 128, 108, .25);
    padding: .1em .3em;
  }
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

body {
  margin: 0px;
  // background: #ddd;
  color: #222;
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 18px;
}

input {
  font-size: 18px;
  text-align: right;
  border-radius: 2px;
  font-family: inherit;
  font-weight: inherit;
}

select {
  font-size: inherit;
}

.smallcaps {
  @include serif();
  font-variant: small-caps;
}

.serif {
  @include serif();
}

.highlight-background {
  background-color: rgba(147, 128, 108, 0.1);
}

.page-header {
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 30px;
  
  h1 {
    line-height: 2.5;
    font-size: 50px;
  }
}

.intro {
  text-align:center;
  margin-top: 20px;
  
  h2 {
    vertical-align: bottom;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    font-weight: inherit;
    position: relative;
    top: 3px;
    line-height: 50px;
  }
  
}

.container {
  width: 100%;
  margin: 0 auto;
}

.typeahead-holder {
  display: inline-block;
  text-align: center;  
}

input.typeahead {
  text-align: left;
}

.row {
  line-height: 1.8;
  
  .pre-round-equity {
    min-width: 86px;
  }
}

.row-title {
  text-align: right;
  text-transform: uppercase;
  margin-right: 50px;
  color: #666;
}

.equity {
  color: #3093d9;
}

.investment {
  color: #ff9922; 
}

.math-cell {
  @include flex-box();
  @include math(30px);

  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  text-align: middle;
}

.round-amount-input, .round-valuation-input {
  display: block;
}

.money-input {
  @include inline-flex();
  margin: 5px;

  .money-input-field {
    flex: 1;
    border-radius: 0 2px 2px 0;
    margin: 0px;
    border-left: 0;
    max-width: 9em;
  }

  .money-input-dollarsign {
    border-radius: 2px 0 0 2px;
    background-color: rgba(147, 128, 108, .1);
  }

  * {
    border: 1px solid rgba(147, 128, 108, .25);
    padding: .3em .5em;
  }
}

.percent-input-field {
  max-width: 4em;
}

.info-block {
  display: inline-block !important;
  line-height: 1.2;
  text-align: center;
  
  .info-text {
    text-align: center;
    margin-top: 3px;
  }
  
  * {
      margin: auto;
      text-align: center;
    }
}

.info-text {
  font-size: 16px;
  text-align: center;
}

.exit-divider {
  text-align: center;
  line-height: 3.5;
  font-size: 35px;
}

.exit-option-block {
  padding-top: 40px;
  text-align: center !important;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;

  .exit-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
  }
  
  .math-row {
    height: 70px;
  }

  .money-input {
    display: inline-block;
    // line-height: 1.2;
  }

  @include math(25px);
}

#notes-container {
  padding: 50px;

  .notes-header {
    width: 100%;
    text-align: center;
    font-size: 45px;
  }

  .notes-item {
    max-width: 600px;
    margin: auto;
    padding: 15px 0px;
    font-weight: 200;
  }
}
















// ---- Typeahead styling ----//

.typeahead, .tt-query, .tt-hint {
  width: 400px;
  height:50px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 400px;
  margin-top: 4px;
  padding: 8px 0;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/*
//---- color shifts for each round ----//
$base-round-amount-color: #3093d9;
$round-color-rotation: 30;
.series-A-amount {
  color: $base-round-amount-color;
}
.series-B-amount {
  color: adjust_hue($base-round-amount-color, $round-color-rotation * 1);
}
.series-C-amount {
  color: adjust_hue($base-round-amount-color, $round-color-rotation * 2);
}
.series-D-amount {
  color: adjust_hue($base-round-amount-color, $round-color-rotation * 3);
}
.series-E-amount {
  color: adjust_hue($base-round-amount-color, $round-color-rotation * 4);
}
.series-F-amount {
  color: adjust_hue($base-round-amount-color, $round-color-rotation * 5);
}

$base-round-valuation-color: #bf2226;
.series-A-valuation {
  color: $base-round-valuation-color;
}
.series-B-valuation {
  color: adjust_hue($base-round-valuation-color, $round-color-rotation * 1);
}
.series-C-valuation {
  color: adjust_hue($base-round-valuation-color, $round-color-rotation * 2);
}
.series-D-valuation {
  color: adjust_hue($base-round-valuation-color, $round-color-rotation * 3);
}
.series-E-valuation {
  color: adjust_hue($base-round-valuation-color, $round-color-rotation * 4);
}
.series-F-valuation {
  color: adjust_hue($base-round-valuation-color, $round-color-rotation * 5);
}
*/



